.card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  width: 30%;
  border-radius: 8px;
  background: #fff;
  margin: 25px;
  line-height: 0.5;
}

.card-content {
  margin: auto;
  grid-column-start: 0;
  width: 85%;
  height: 100%;
}

.card-link {
  color: green;
  text-decoration: none;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 24px;
}

.card-image {
  width: 25%;
  align-self: center;
}
