.projects-container {
  display: flex;
  justify-content: center;
  height: 260px;
}

.task-container {
  display: flex;
  flex-direction: row;
  height: 400px;
  padding: 0px 18%;
}

h1 {
  text-align: center;
  color: white;
  padding-top: 20px;
}
